body {
    color: white;
    font-family: Arial;
    background-color: red;
}

.container {
    background-color: #040404;
    color: white;
    height: 400px;
    width: 600px;
    margin: 0 auto;
}
