body {
    color: blue;
    font-family: Arial;
    background-color: cyan;
    text-align: center;
}

.container {
    background-color: #040404;
    color: white;
    height: 400px;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: solid 2px #0f0f0f;
    font-size: 18px;
    text-align: center;
}
