{% extends "layout.html" %}

{% block content %}


    <div class='papa'>
        <h4>Hola Don Jorge</h4>
        <p>
            Hola pa estoy haciendo una aplicacion web, aprete el boton para ir a mi facebook.
        </p>
        <img id='facebook_photo' src='https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-9/18033568_367566100307624_8784018037442822269_n.jpg?oh=75b0a82b0fe853e3404e97c07040e814&oe=59E612F1' />
        <a href="https://www.facebook.com/MauriJHN1" target="_blank">Facebook</a>
    </div>

{% endblock %}
